body{
    background: #352f5b;
    /* height: 100vh;
    width: 100vw; */
    color: whitesmoke;
}


.btn{
    background-color: #43d9be;
    outline: none !important;
    box-shadow: none !important;
}
.btn:focus{
    outline: none !important;
}