@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/animations';
@import 'base/base';
@import 'base/';
@import 'base/animations';






/*
COLORS

light green =  #7ed56f
Medium green = #55c57a
Dark green = #28b485 */

$color-primary:rgba(126,213,111,0.8);
$color-secondary: rgba(40,180,131,0.8);

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

html{
      font-size: 62.5%; 

}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;

}

.header{
    height: 95vh;
    background-image:linear-gradient(to right bottom,
    $color-primary,
    $color-secondary),
     url('./images/mountains2.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.header__logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo{
    height: 5rem;
}

.header__text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.heading-primary{
color: #fff;
backface-visibility: hidden;
-webkit-backface-visibility: hidden;
margin-bottom: 3.5rem;
}

.heading-primary--main{
 display: block;
 font-weight: 400;
 font-size: 6rem;
 letter-spacing: 3.5rem;
 animation-name: moveInTop;
 animation-duration: 2s;
 animation-delay: 0.8s;
}
.heading-primary--sub{
    display: block;
    font-weight: 700;
    font-size: 2rem;
    /* text-align: center; */
    letter-spacing: 2rem;
    animation-name: moveInBottom;
 animation-duration: 2s;
 animation-delay: 0.8s;
}

@keyframes moveInTop{
    0%{
        opacity: 0;
        transform: translateY(-6rem);
    }
    80%{
        
        transform: translateY(1.5rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(6rem);
    }
    80%{
        
        transform: translateY(-1.5rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link, 
.btn:visited{
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    transition: all 0.2s ease-out;
    font-size: 1.4rem;
   

}
.btn:hover{
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active{
    transform: translateY(-0.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);

}
.btn--white{
    background-color: #fff;
    color: #777;
}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s ease-out;
}
.btn--white::after{
    background-color: #fff;
}

.btn.btn:hover::after{
    transform: scaleX(4) scaleY(3);
    opacity: 0;
}

.btn--animation{
    animation: moveInButton 2s ease-out 1.8s;
    animation-fill-mode: backwards;
  
}

@keyframes moveInButton{
    0%{
        transform: translateY(6rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
